In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [6]:
spark

In [13]:
### Read the dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [14]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [16]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|  Tom|  5|         2|
| Dick| 10|         3|
|Harry| 15|         4|
+-----+---+----------+

In [17]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [20]:
df_pyspark.head(3)

[Row(Name='Tom', Age=5, Experience=2),
 Row(Name='Dick', Age=10, Experience=3),
 Row(Name='Harry', Age=15, Experience=4)]

In [21]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|  Tom|
| Dick|
|Harry|
+-----+

In [25]:
df_pyspark.select('Name', 'Experience').show()

+-----+----------+
| Name|Experience|
+-----+----------+
|  Tom|         2|
| Dick|         3|
|Harry|         4|
+-----+----------+

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [27]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [28]:
df_pyspark.describe().show()

+-------+----+----+----------+
|summary|Name| Age|Experience|
+-------+----+----+----------+
|  count|   3|   3|         3|
|   mean|NULL|10.0|       3.0|
| stddev|NULL| 5.0|       1.0|
|    min|Dick|   5|         2|
|    max| Tom|  15|         4|
+-------+----+----+----------+

In [31]:
### Add Columns 
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience'] + 2).show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience After 2 years|
+-----+---+----------+------------------------+
|  Tom|  5|         2|                       4|
| Dick| 10|         3|                       5|
|Harry| 15|         4|                       6|
+-----+---+----------+------------------------+

In [32]:
### Add Columns 
df_pyspark.drop('Experience').show()

+-----+---+
| Name|Age|
+-----+---+
|  Tom|  5|
| Dick| 10|
|Harry| 15|
+-----+---+

In [34]:
### Rename Columns 
df_pyspark.withColumnRenamed('Experience', 'Experience Renamed').show()

+-----+---+------------------+
| Name|Age|Experience Renamed|
+-----+---+------------------+
|  Tom|  5|                 2|
| Dick| 10|                 3|
|Harry| 15|                 4|
+-----+---+------------------+