In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Joins').getOrCreate()

In [2]:
data1 = [
            ('1', 'Guar', 'd01'),
            ('2', 'Kit', 'd02'),
            ('3', 'Sam', 'd03'),
            ('4', 'Tim', 'd03'),
            ('5', 'Aman', 'd05'),
            ('6', 'Nad', 'd06'),
       ]

schema1 = "emp_id STRING, emp_name STRING, dept_id STRING"

df1 = spark.createDataFrame(data1,schema1)

data2 = [
            ('d01', 'HR'),
            ('d02', 'Marketing'),
            ('d03', 'Accounts'),
            ('d04', 'IT'),
            ('d05', 'Finance'),
       ]

schema2 = "dept_id STRING, department STRING"

df2 = spark.createDataFrame(data2,schema2)

df1.show()
df2.show()

+------+--------+-------+
|emp_id|emp_name|dept_id|
+------+--------+-------+
|     1|    Guar|    d01|
|     2|     Kit|    d02|
|     3|     Sam|    d03|
|     4|     Tim|    d03|
|     5|    Aman|    d05|
|     6|     Nad|    d06|
+------+--------+-------+

+-------+----------+
|dept_id|department|
+-------+----------+
|    d01|        HR|
|    d02| Marketing|
|    d03|  Accounts|
|    d04|        IT|
|    d05|   Finance|
+-------+----------+

In [11]:
# INNER JOIN
df1.join(df2, df1['dept_id'] == df2['dept_id'], 'inner').show()

+------+--------+-------+-------+----------+
|emp_id|emp_name|dept_id|dept_id|department|
+------+--------+-------+-------+----------+
|     1|    Guar|    d01|    d01|        HR|
|     2|     Kit|    d02|    d02| Marketing|
|     3|     Sam|    d03|    d03|  Accounts|
|     4|     Tim|    d03|    d03|  Accounts|
|     5|    Aman|    d05|    d05|   Finance|
+------+--------+-------+-------+----------+

In [12]:
# LEFT JOIN
df1.join(df2, df1['dept_id'] == df2['dept_id'], 'left').show()

+------+--------+-------+-------+----------+
|emp_id|emp_name|dept_id|dept_id|department|
+------+--------+-------+-------+----------+
|     1|    Guar|    d01|    d01|        HR|
|     2|     Kit|    d02|    d02| Marketing|
|     3|     Sam|    d03|    d03|  Accounts|
|     4|     Tim|    d03|    d03|  Accounts|
|     5|    Aman|    d05|    d05|   Finance|
|     6|     Nad|    d06|   NULL|      NULL|
+------+--------+-------+-------+----------+

In [13]:
# RIGHT JOIN
df1.join(df2, df1['dept_id'] == df2['dept_id'], 'right').show()

+------+--------+-------+-------+----------+
|emp_id|emp_name|dept_id|dept_id|department|
+------+--------+-------+-------+----------+
|     1|    Guar|    d01|    d01|        HR|
|     2|     Kit|    d02|    d02| Marketing|
|     4|     Tim|    d03|    d03|  Accounts|
|     3|     Sam|    d03|    d03|  Accounts|
|  NULL|    NULL|   NULL|    d04|        IT|
|     5|    Aman|    d05|    d05|   Finance|
+------+--------+-------+-------+----------+

In [14]:
# INNER JOIN
df1.join(df2, df1['dept_id'] == df2['dept_id'], 'anti').show()

+------+--------+-------+
|emp_id|emp_name|dept_id|
+------+--------+-------+
|     6|     Nad|    d06|
+------+--------+-------+