In [1]:
import pyspark

In [2]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/spark/python (4.0.0)
Collecting py4j==0.10.9.9 (from pyspark)
  Downloading py4j-0.10.9.9-py2.py3-none-any.whl.metadata (1.3 kB)
Downloading py4j-0.10.9.9-py2.py3-none-any.whl (203 kB)
Installing collected packages: py4j
Successfully installed py4j-0.10.9.9
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [5]:
import os
os.listdir()

['.bash_logout',
 '.profile',
 '.bashrc',
 '.local',
 'test1.csv',
 '.jupyter',
 '.ipynb_checkpoints',
 'Untitled.ipynb',
 '.cache',
 '.ipython',
 '.config',
 '.mamba',
 '.wget-hsts',
 'work']

In [6]:
pd.read_csv('test1.csv')

    Name  Age
0    Tom    5
1   Dick   10
2  Harry   15

In [11]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [14]:
spark

In [15]:
df_pyspark = spark.read.csv('test1.csv')

In [17]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|  Tom|  5|
| Dick| 10|
|Harry| 15|
+-----+---+

In [20]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [21]:
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
|  Tom|  5|
| Dick| 10|
|Harry| 15|
+-----+---+