In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkSQL').getOrCreate()

In [2]:
data = [
            ('user1', 'book1'),
            ('user1', 'book2'),
            ('user2', 'book2'),
            ('user2', 'book4'),
            ('user3', 'book3')
       ]

schema = "user string, book string"

df = spark.createDataFrame(data,schema)
df.createTempView('my_view')

In [8]:
df_sql = spark.sql("SELECT * FROM my_view WHERE user = 'user1'")
df_sql.show()

+-----+-----+
| user| book|
+-----+-----+
|user1|book1|
|user1|book2|
+-----+-----+