In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Union').getOrCreate()

In [2]:
data1 = [('1','kad'),
        ('2','sid')]
schema1 = 'id STRING, name STRING' 

df1 = spark.createDataFrame(data1,schema1)

data2 = [('3','rahul'),
        ('4','jas')]
schema2 = 'id STRING, name STRING' 

df2 = spark.createDataFrame(data2,schema2)

In [3]:
df1.show()

+---+----+
| id|name|
+---+----+
|  1| kad|
|  2| sid|
+---+----+

In [4]:
df2.show()

+---+-----+
| id| name|
+---+-----+
|  3|rahul|
|  4|  jas|
+---+-----+

In [6]:
# UNION
# union() method of the DataFrame is used to merge two DataFrameâ€™s of the same structure/schema. 
# The output includes all rows from both DataFrames and duplicates are retained. If schemas are not the same it returns an error. 
# To deal with the DataFrames of different schemas we need to use unionByName() transformation. 

df1.union(df2).show()

+---+-----+
| id| name|
+---+-----+
|  1|  kad|
|  2|  sid|
|  3|rahul|
|  4|  jas|
+---+-----+

In [9]:
# The output includes all rows from both DataFrames and duplicates are retained. If schemas are not the same it returns an error. 
# To deal with the DataFrames of different schemas we need to use unionByName() transformation. 

data1 = [('kad','1',),
        ('sid','2',)]
schema1 = 'name STRING, id STRING' 

df1 = spark.createDataFrame(data1,schema1)

df1.union(df2).show()

+----+-----+
|name|   id|
+----+-----+
| kad|    1|
| sid|    2|
|   3|rahul|
|   4|  jas|
+----+-----+

In [11]:
# The output includes all rows from both DataFrames and duplicates are retained. If schemas are not the same it returns an error. 
# To deal with the DataFrames of different schemas we need to use unionByName() transformation. 

df1.unionByName(df2).show()

+-----+---+
| name| id|
+-----+---+
|  kad|  1|
|  sid|  2|
|rahul|  3|
|  jas|  4|
+-----+---+